.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(107deg, rgba(168, 168, 168, 0.04) 0%, rgba(168, 168, 168, 0.04) 25%,rgba(92, 92, 92, 0.04) 25%, rgba(92, 92, 92, 0.04) 50%,rgba(25, 25, 25, 0.04) 50%, rgba(25, 25, 25, 0.04) 75%,rgba(50, 50, 50, 0.04) 75%, rgba(50, 50, 50, 0.04) 100%),linear-gradient(270deg, rgba(139, 139, 139, 0.04) 0%, rgba(139, 139, 139, 0.04) 25%,rgba(204, 204, 204, 0.04) 25%, rgba(204, 204, 204, 0.04) 50%,rgba(211, 211, 211, 0.04) 50%, rgba(211, 211, 211, 0.04) 75%,rgba(65, 65, 65, 0.04) 75%, rgba(65, 65, 65, 0.04) 100%),linear-gradient(346deg, rgba(21, 21, 21, 0.04) 0%, rgba(21, 21, 21, 0.04) 25%,rgba(63, 63, 63, 0.04) 25%, rgba(63, 63, 63, 0.04) 50%,rgba(243, 243, 243, 0.04) 50%, rgba(243, 243, 243, 0.04) 75%,rgba(191, 191, 191, 0.04) 75%, rgba(191, 191, 191, 0.04) 100%),linear-gradient(214deg, rgba(165, 165, 165, 0.04) 0%, rgba(165, 165, 165, 0.04) 25%,rgba(236, 236, 236, 0.04) 25%, rgba(236, 236, 236, 0.04) 50%,rgba(102, 102, 102, 0.04) 50%, rgba(102, 102, 102, 0.04) 75%,rgba(159, 159, 159, 0.04) 75%, rgba(159, 159, 159, 0.04) 100%),linear-gradient(317deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.04) 25%,rgba(7, 7, 7, 0.04) 25%, rgba(7, 7, 7, 0.04) 50%,rgba(249, 249, 249, 0.04) 50%, rgba(249, 249, 249, 0.04) 75%,rgba(199, 199, 199, 0.04) 75%, rgba(199, 199, 199, 0.04) 100%),linear-gradient(105deg, rgba(65,207,41, 0.94),rgba(73,62,228, 0.85));
    /* background: linear-gradient(90deg, rgba(92,235,223,1) 10%, rgba(17,44,175,1) 100%); */
    }
    
    .container{
        width: 500px;
        height: 500px;
    }
    input[type="text"] {
        margin-right: 10px;
        font-size: 16px;
    }