#task-container{
  margin-top: 55px;
  margin-left: 45px;
  /* border: 1px groove ; */
  width:980px;
  height: 400px; 
  position: relative;
  left: 150px;
  top: 40px;
}
#tot-form{
position: relative;
left: 65px;

} 
#h4{
 
  
  color: #5c5c5e ;
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  position: relative;
  left: -100px;
  bottom: 20px;
  
}
#tag-line1{
  color: #17A248;
  font-size: 1.4rem;
  position: relative;
  top: -5px;
  left: -100px;

  

}
::placeholder{
font-size: 13px;
}
#tag-line2{
color: #4c9ee0;
font-size: 1.6rem;
position: relative;
left:-100px;
top: -5px;


}

#task-form{
  margin-top: 90px;
  margin-left:430px;
  width: 450px;
  height: 200px;
  border: 1px groove;
  border-color:hsl(0, 7%, 92%) ;
  background-color: hsl(0, 0%, 99%);
  box-shadow: 2px 2px 7px 0 rgba(121, 118, 118, 0.2);
  border-radius: 5px;
  position: relative;
  left: -230px;
  bottom: 10px;
  
}
#fields{
  position: relative;
  left: 70px;
  top: 10px;
}

.field {
  
      width: clamp(120px, 50vw, 330px);
      height: 3.5rem;
      padding: 0 1.25rem;
      border: none;
      border-bottom: 1px groove rgb(255, 255, 255);
      border-radius: 10px;
      margin: 0.625rem auto;
      outline: none;
      transition: all 250ms;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      box-shadow: 2px 2px 7px 0 rgba(149, 148, 148, 0.2);
      text-align: center;
      color: rgb(137, 133, 133);
      
      background-color: hsl(0, 0%, 99%);
      position: relative;
      left: -10px;
      top: -30px;
      font-size: 10px;
}
::placeholder{
  font-size:11px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #95959b;
}
.field:focus {
      outline: none;
      border: 1px solid #91e7af;
    }
.date1{
  width: clamp(120px, 50vw, 285px);
  height: 2.5rem;
  padding: 0 1.25rem;
  border:1px groove ;
  border: 1px groove rgb(175, 169, 169);
  outline: none;
  color: dimgray;
  border-radius: 10px;
  margin: -0.625rem auto;
  transition: all 250ms;
  font-family: sans-serif;
  background-color: transparent;
  box-shadow: 2px 2px 7px 0 rgba(121, 118, 118, 0.2);
  border-color:#acebc2;
  background-color: hsl(0, 0%, 99%);
  position: relative;
  left: 8px;
  top: 15px;
}
.date1:focus {
  outline: none;
  border: 1px solid #17A248;
}
.btn-sub{
  width: clamp(100px, 50vw, 150px);
  height: 2.8rem;
  padding: 0 1.25rem;
  border:1px groove ;
  border-color: #f7f8f7;
  color: white;
  border-radius: 24px;
  margin: -0.625rem auto;
  transition: all 250ms;
  font-family: sans-serif;
  background-color:  #0BDA51;
  position: relative;
  top: -15px;
  left: 80px;
  letter-spacing: 1px;
  
}
 
#note{
  position: relative;
  bottom: 15px;
  left: 55px;
  color: #c6c6ca;
  letter-spacing: 2px;
}

#back-btn2{
  position: relative;
  top:60px;
  left: 1180px;
  width: 70px;
  height: 30px;
  text-align: center;
  bottom: 10px;
 
}
