.cont {
  height: 200px;
  width: 1090px;
  position: relative;
  left: 150px;
  top: 120px;
  border-radius: 15px;
}

#project-title {
  text-align: center;
  width: 190px;
  height: 40px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
  font-family: "montserrat", "sans-serif";
  position: relative;
  top: 45px;
  left: 20px;
  border-color: #a5a8a5;
}
.cont1 {
  border: 1px groove grey;
  height: 140px;
  width: 230px;
  position: relative;
  left: 345px;
  bottom: 89px;
  background: hwb(0 97% 3% / 0.904);
  border-radius: 20px;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

#table {
 width: 1050px;
  border-collapse: collapse;
  position: relative;
  bottom: 40px;
  left: 180px;
  text-align: center;
  height: 200px; 
  padding: 1px;
  overflow-y: auto; /* Changed to overflow-y */
  position: relative;
  border-collapse: collapse;
  max-height:400px;
  padding: 5px;

}

#box {
  position: absolute;
  top: 210px;
  right: 400px;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Transparent border */
  background: rgba(255, 255, 255, 0.15); /* Transparent background */
  backdrop-filter: blur(5px); /* Background blur */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Box shadow */
}
#sub2 {
  width: clamp(30px, 50vw, 300px);
  height: 2.4rem;
  padding: 0 1.25rem;
  border: 1px groove;
  border-color: #ffffff;
  color: white;
  border-radius: 5px;
  margin: -0.625rem auto;
  transition: all 250ms;
  font-family: sans-serif;
  background-color: #1ed64c;
  position: relative;
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  top: 40px;
  left: 48px;
}
#titlee {
  position: relative;
  left: 60px;
  top: 33px;
}
#edit-title:focus {
  border-color: #54ec7a;
}
#edit-title {
  width: clamp(100px, 40vw, 270px);
  height: 2rem;
  padding: 0 1.25rem;
  border: none;
  /* border-bottom: 1px groove rgb(65, 189, 92); */
  border-bottom: 1px groove rgb(201, 193, 193);
  border-radius: 5px;
  margin: 0.625rem auto;
  outline: none;
  transition: all 250ms;

  box-shadow: 2px 2px 7px 0 rgba(121, 118, 118, 0.2);
  text-align: center;

  /* border-color:#d5dbd7; */
  background-color: hsl(0, 0%, 99%);
  position: relative;
  left: 60px;
  top: 22px;
  font-size: 12px;
  color: #8f8f92;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#titlee,
#tools,
#team,
#des {
  display: block; /* Make labels on a new line */
  margin-bottom: 5px; /* Add spacing between labels and inputs */
  font-weight: lighter; /* Emphasize labels */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: #7d7d80;
}
#tools {
  position: relative;
  left: 61px;
  top: 18px;
}
#f {
  position: relative;
  left: 5px;
}
#edit-tools {
  width: clamp(100px, 40vw, 270px);
  height: 2rem;
  padding: 0 1.25rem;
  border: none;
  border-bottom: 1px groove rgb(201, 193, 193);
  border-radius: 5px;
  margin: 0.625rem auto;
  transition: all 250ms;
  box-shadow: 2px 2px 7px 0 rgba(121, 118, 118, 0.2);
  text-align: center;

  /* border-color:#d5dbd7; */
  background-color: hsl(0, 0%, 99%);
  position: relative;
  bottom: -5px;
  left: 60px;
  font-size: 12px;
  color: #8f8f92;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#edit-tools:focus {
  border-color: #54ec7a;
}
#team {
  position: relative;
  left: 61px;
  top: 25px;
}
#edit-team {
  width: clamp(100px, 40vw, 270px);
  height: 2rem;
  padding: 0 1.25rem;
  border: none;
  border-bottom: 1px groove rgb(201, 193, 193);
  /* border-bottom: 1px groove rgb(65, 189, 92); */
  border-radius: 5px;
  margin: 0.625rem auto;
  outline: none;
  transition: all 250ms;

  box-shadow: 2px 2px 7px 0 rgba(121, 118, 118, 0.2);
  text-align: center;

  /* border-color:#d5dbd7; */
  background-color: hsl(0, 0%, 99%);
  position: relative;
  left: 60px;
  top: 10px;
  font-size: 12px;
  color: #8f8f92;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#edit-team:focus {
  border-color: #54ec7a;
}
#edit-logo {
  position: relative;
  left: 175px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 12px;
  top: 13px;
  letter-spacing: 2px;
  color: #69afe7;
}
#des {
  position: relative;
  left: 61px;
  top: 31px;
}
#edit-des {
  width: clamp(100px, 40vw, 270px);
  height: 2rem;
  padding: 0 1.25rem;
  border: none;
  border-bottom: 1px groove rgb(201, 193, 193);
  /* border-bottom: 1px groove rgb(65, 189, 92); */
  border-radius: 5px;
  margin: 0.625rem auto;
  outline: none;
  transition: all 250ms;

  box-shadow: 2px 2px 7px 0 rgba(121, 118, 118, 0.2);
  text-align: center;

  /* border-color:#d5dbd7; */
  background-color: hsl(0, 0%, 99%);
  position: relative;
  left: 60px;
  top: 18px;
  font-size: 12px;
  color: #8f8f92;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#edit-des:focus {
  border-color: #54ec7a;
}
#box button:hover {
  background-color: #3d69c9;
}
th {
  color: rgb(255, 255, 255);
  font-size: 11px;
  background-color: rgb(120, 152, 179);
}
td {
  text-align: center;
  font-size: 14px;
}

#search-icon1 {
  position: relative;
  top: 49px;
  left: 10px;
}
#detail {
  position: relative;
  top: 100px;
  left: 550px;
  width: 400px;
}
#emp-det {
  color: #abb4ac;
  /* font-family: "Nunito Sans", sans-serif; */
  font-size: 16px;
  letter-spacing: 2px;
  position: relative;
  top: 5px;
  left: 465px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* Font-family:  "Zoho_Puvi_Bold";  */
}
#edit {
  width: clamp(80px, 50vw, 10px);
  height: 1.8rem;
  padding: 0 1.25rem;
  color: rgb(8, 8, 8);
  border-radius: 5px;
  margin: -0.625rem auto;
  transition: all 250ms;
  font-family: sans-serif;
  /* background-color:  #ffffff; */
  position: relative;
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  left: 30px;
  /* bottom: 30px; */
}
.blur-background {
  filter: blur(5px); /* Adjust the blur intensity as needed */
}

#back-button {
  position: absolute;
  top: 13px;
  right: 372px;
}
#back-button:hover {
  color: #000000;
}
#task-add {
  width: clamp(100px, 50vw, 113px);
  height: 2.3rem;
  padding: 0 1.25rem;
  border: 1px groove;
  border-color: #d5dbd7;
  color: white;
  border-radius: 20px;
  margin: -0.625rem auto;
  transition: all 250ms;
  font-family: sans-serif;
  background-color: #42cf61;
  position: relative;

  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.edit {
  position: relative;
  cursor: pointer;
}

.edit:hover::after {
  content: "Edit";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease; /* Adds a smooth transition effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures the edit text appears above other elements */
}
.usecase {
  position: relative;
  cursor: pointer;
}

.usecase:hover::after {
  content: "Add usecase";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease; /* Adds a smooth transition effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures the edit text appears above other elements */
}
.viewusecase {
  position: relative;
  cursor: pointer;
}

.viewusecase:hover::after {
  content: "view usecase";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease; /* Adds a smooth transition effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures the edit text appears above other elements */
}

.taskadd {
  position: relative;
  cursor: pointer;
}

.taskadd:hover::after {
  content: "Add Task";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(43, 91, 223, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  white-space: nowrap;
  transition: all 0.4ms ease; /* Adds a smooth transition effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures the edit text appears above other elements */
}

#your-info {
  position: relative;
  top: 100px;
  left: 185px;
  color: rgb(33, 33, 233);
}
#icon1 {
  position: relative;
  top: 3px;
  left: 5px;
}

.circle {
  width: 47px; /* Adjust size as needed */
  height: 47px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the div a circle */
  background-color: rgb(19, 230, 54); /* Example background color */
  opacity: 0.9;
  position: relative;
  left: 1242px;
  top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-animation {
  animation: blur-and-normal 1s infinite;
}

@keyframes blur-and-normal {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(2px);
  }
}
#add-button {
  position: absolute;
  left: 1120px;
  top: 700px;
}

#add-button:hover::after {
  content: "Add Project";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(20, 76, 230, 0.7);
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
  padding: 8px;
  white-space: nowrap;
  transition: all 0.4ms ease; /* Adds a smooth transition effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensures the edit text appears above other elements */
}

.scrollable-cell2 {
  max-width: 150px; /* Adjust the height as needed */
 max-height: 10px;
  overflow-y: auto;
  padding: 5px; /* Optional: Adjust padding as needed */
  
}