.table-container {
  margin-top: 20px;
 
  max-width: 100%;
  max-height: 320px;
  overflow: auto; /* Enable scrolling for overflow content */
  margin: auto; /* Center the table horizontally */
}

.admincon table {
  width: 90%; /* Make the table fill the container */
  border-collapse: collapse; /* Collapse table borders */
  margin-left: 115px;
 

}
.nav{
  margin-left: 35px;
}

.admincon th,
.admincon td {
  padding: 10px;
  /* padding-left: 20px; Add padding to table cells */
  text-align: left; /* Center-align text */
  border: 1px solid black; /* Add black border */
}

.admincon th {
  background-color: rgb(178, 241, 178);
  position: sticky;

  top: 0;
  z-index: 2;
}

.admincon input[type="text"] {
  padding: 8px; /* Add padding to the input field */
  margin-right: 10px; /* Add margin to the right of the input field */
  border: 1px solid #ccc; /* Add border to the input field */
  border-radius: 4px; /* Add border-radius to the input field */
  box-sizing: border-box; /* Ensure padding and border are included in the input's total width */
  font-size: 16px; /* Set font size */
  /* margin-bottom: 8px; */
}

.download-button {
  height: 32px;
  width: 60px;
  transition: all 250ms;
  font-family: sans-serif;
  background-color: #38d845;
  margin-bottom: 15px;
  border: 1px groove;
  border-color: transparent;
  color: white;
  border-radius: 5px;
  margin-left: 290px;
 
}

.search {
  height: 32px;
  width: 60px;
  transition: all 250ms;
  font-family: sans-serif;
  background-color: #d4ddd4;
  border: 1px groove;
  border-color: transparent;
  color: rgb(88, 83, 83);
  position: relative;
  left: 250px;
  border-radius: 5px;
}

.date {
  border-radius: 10px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color: red;
  font-family: "calibri";
  font-weight: bold;
  font-size: 17px;
  margin-top: 25px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.highlighted-text {
  color: blue;
}
