@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.comment-input {
  width: 300px;
  height: 80px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}
.comment-input:hover {
  border: 1px solid black;
}
.logo-wel {
  height: inherit;
  width: inherit;
  object-fit: contain;
}


#firstImg{
  width: 450px;
  height: 350px;
  position: relative;
  bottom: 30px;
}